extends master.pug

block content
    div.container_login
        div.page_hero
            h1.titles Connexion/ Inscription
            form(action="login" method="POST")
                div.input
                    input(type="mail" placeholder="john.doe@gmail.com")
                div.input
                    input(type="text" placeholder="*************")
                div.btn
                    button(type="submit") OK
