extends master.pug
block content
    if err
        each val in err
            p.error Il y a une erreur: #{val.message}
    div.container_register
        div.page_hero
            h1.titles Inscription
            form(action="/register" method="POST")
                div.input
                    input(type="text" name="firstname" placeholder="Prénom", value=(user && user.firstname))
                div.input
                    input(type="text" name="lastname" placeholder="Nom", value=(user && user.lastname))
                div.input
                    input(type="email" name="mail" placeholder="john.doe@gmail.com", value=(user && user.mail))
                div.input
                    input(type="password" name="password" placeholder="*************")
                div.input
                    input(type="password" name="password_confirm" placeholder="*************")
                div.btn
                    button(type="submit") OK
